form{
    margin: auto;
}

#main-container {
    display: flex;
    justify-content: center;
    height: 100vh;
}

#execute-button{
    height: 10rem;
    width: 10rem;
    margin: auto;
    border-radius: 50%;
    border-color: rgb(0, 136, 255);
    border-width: 1rem;
    background-color: rgb(78, 192, 192);
}